%%% -*- mode: erlang -*-
{erl_opts,
 [
  debug_info,
  %% bin_opt_info,
  warnings_as_errors
 ]}.

%% Options for running dialyzer
%% {plt, PltFile}
%% 'src': run Dialyzer on the source files as in 'dialyzer --src'
%% {warnings, [WarnOpts]}: turn on/off Dialyzer warnings
{dialyzer_opts,
 [
  {plt, "util.plt"}, src,
  {warnings, [no_return, race_conditions, underspecs, behaviours]}
 ]}.

{deps,
 [
  {bstr, ".*", {git, "https://github.com/jcomellas/bstr.git", "HEAD"}},
  {proper, ".*", {git, "https://github.com/manopapad/proper.git", "HEAD"}}
 ]}.
